{% extends 'posts/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="home-container">
        <h2>Welcome, {{ user.first_name|default:user.username }}!</h2>
        <p>You have successfully logged in.</p>
        <div class="home-actions">
            <a href="/posts" class="button">Go to Blog</a>
            <!-- You will need to add a logout URL to your urls.py -->
            <a href="/logout/" class="button-secondary">Log Out</a>
        </div>
    </div>
{% endblock %}
